@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
  color: var(--tg-theme-text-color, #333);
  overflow-x: hidden;
}

/* Скрыть scrollbar для всех браузеров */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

#root {
  height: 100%;
  width: 100%;
}


button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #0088cc;
  --tg-theme-button-color: #0088cc;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tg-theme-bg-color: #212121;
    --tg-theme-text-color: #ffffff;
    --tg-theme-hint-color: #aaaaaa;
    --tg-theme-link-color: #3390ec;
    --tg-theme-button-color: #3390ec;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-secondary-bg-color: #181818;
  }
}
